{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block content %}
    <div class="row-fluid">
        <div class="thumbnail white cell span8">
            <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% trans "Type in your email below and we'll send along instructions to reset your password." %}<br/>
                {% blocktrans %}Please <a href="/about">contact us</a> if you have any trouble.{% endblocktrans %}</p>
                
                <form method="POST" action="" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn" value="{% trans "Reset My Password" %}" />
                </form>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
