{%extends "base.html"%}
{%block content%}
<div class="thumbnail question-box about">
	<h2>Our Mission</h2>
		Our goal is simple: provide the best way for you to interact with your followers or fans.  We wanted to create a clean environment that stimulates discussion and connects people from across the world in an intuitive question and answer platform.
</div>
<div class="row-fluid">
	<div class="about-table span6">
		<div class="question-box thumbnail about-cell">
			<h2>Tutorials</h2>
			Start an AMA: <button class="btn btn-small" id="createIntroLaunch">Launch Tutorial</button>
			<br/><br/>
			Participate in an AMA: <button class="btn btn-small">Launch Tutorial</button>
		</div>
	</div>
	<div class="about-table span6">
		<div class="question-box thumbnail about-cell">
			<h2>Support</h2>
			<div id="support-padding">
			General Support: <a href="mailto:support@ama.io" target="_blank">support@ama.io</a>
			<br/><br/>
			Business Inquiries: <a href="mailto:support@ama.io" target="_blank">business@ama.io</a>
			</div>
		</div>
	</div>
</div>
{%endblock%}
