{%extends "base.html"%}
{%block content%}
<h2>Our Mission</h2>
<p>
	Our goal is simple: provide the best way for you to interact with your followers or fans.  We wanted to create a clean environment that stimulates discussion and connects people from across the world in an intuitive question and answer platform.<br/><br/>
	In the future, we plan to add features that further increases the level of engagement, such as incorporating live streams, chat, and more.  So what are you waiting for?  Go create your own personal QA session and reach out to your audience!  Don't have an audience?  Well, maybe you have an interesting story to share with the world.  Or perhaps there is someone you'd like to do a QA session?  Use the request feature to tweet at them so they too can experience the interactions here on Project AMA.
{%endblock%}
