{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{%include "head.html"%}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<img src="https://dl.dropboxusercontent.com/u/18936351/logo_ama1.png" width="200" height="30" style="float: left; margin-top: 5px;" />
			<div class="container">
				{%include "navbar.html"%}
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		{% include "headers.html" %}
		{%block content%}{%endblock%}
	</div>
	<div class="container">
		{%block footer%}
		<footer>
			{%include "footer.html"%}
		</footer>
		{%endblock%}
	</div>
	<script type="text/javascript">
		GLOBALS={}
	</script>
	{%block prescript%}{%endblock%}
	{%include "scripts.html"%}
	{%block postscript%}{%endblock%}
</body>
</html>
