<!DOCTYPE html>
<html lang="en" ng-app="sessionApp">
<head>
<title>{%block title%}Home{%endblock%} | Project AMA</title>
<script>GLOBALS={}</script>
{%if user.is_authenticated%}<script>GLOBALS['user']='{{user.username}}'</script>{%endif%}
{%block prescript%}{%endblock%}
{%include "head.html"%}
{%block postscript%}{%endblock%}
</head>
<body>
<div class="container">
	{%include "header.html"%}
	<div id="content">
		{%block content%}{%endblock%}
	</div>
	{% block push %}<div class="push"></div>{% endblock %}
</div>
	{% include "footer.html" %}
</body>
</html>
