<p>
	© LE MEDIA 2013
</p>
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="registerModalLabel">
			Register
		</h3>
	</div>
	<div class="modal-body container-fluid">
		<form id="reg_form" class="form-horizontal">
			{%include "error.html" with id="reg_exists" message="That username is taken." only%}
			{%include "error.html" with id="reg_passmatch" message="Passwords don't match." only%}
			<div id="reg_username_group" class="control-group">
				<label class="control-label" for="reg_username">Username</label>
				<div class="controls">
					<input type="text" name="username" id="reg_username" placeholder="Username">
				</div>
			</div>
			<div id="reg_emailgroup" class="control-group">
				<label class="control-label" for="reg_email">Email</label>
				<div class="controls">
					<input type="text" name="email" id="reg_email" placeholder="Email">
				</div>
			</div>
			<div id="reg_password_group" class="control-group">
				<label class="control-label" for="reg_password">Password</label>
				<div class="controls">
					<input type="password" name="password" id="reg_password" placeholder="Password">
				</div>
			</div>
			<div id="reg_confirm_group" class="control-group">
				<label class="control-label" for="reg_confirm">Confirm</label>
				<div class="controls">
					<input type="password" name="confirm" id="reg_confirm" placeholder="Confirm">
				</div>
			</div>
			<div id="reg_terms_group" class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input id="reg_terms" type="checkbox" value="">
						I agree to the Terms and Conditions.
					</label>
				</div>
			</div>
			
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> <button id="reg_submit" class="btn btn-primary btn-success" disabled>Submit</button>
	</div>
</div>
