<footer id="footer">
	<div id="inside">
		<table align="center" cellspacing="15px" cellspacing="0">
			<tr>
				<td>
					<a href="{% url 'about' %}" >About</a>
				</td>
				<td>
					<a href="#">Blog</a>
				</td>
				<td>
					<a href="#">Press</a>
				</td>
				<td>
					<a href="#">Support</a>
				</td>
				<td>
					<a href="#">Follow us</a>
				</td>
				<td>
					<a href="#">Like us</a>
				</td>
			</tr>
		</table>
		Copyright &copy;{{ now|date:"Y" }}. All rights reserved.
	</div>
</footer>
<div id="signup">
	<div class="lightbox-header">
		Sign Up
	</div>
	<div class="twitter-signin">
		<a href="/accounts/twitter/login/ ">
			<img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" />
		</a>
	</div>
	<div class="lightbox-or-separator">
		<span>or</span>
	</div>
	<div class="lightbox-content">
		<input id="signup-email" placeholder="Email" type="text" />
		<input id="signup-username" placeholder="Username" type="text" />
		<input id="signup-password" placeholder="Password" type="password" />
		<input id="signup-confirm-password" placeholder="Confirm password" type="password" />	
		<input class="lightbox-button" type="submit" value="Go"/>
		<div class="lightbox-bottom-link">
			<a href="#signin" rel="leanModal" class="lightbox-bottom-link" id="signup-bottom">
				Already have an account?
			</a>
		</div>
	</div>
</div>
<div id="signin">
	<div class="lightbox-header">
		Sign In
	</div>
	<div class="twitter-signin">
		<a href="/accounts/twitter/login/ ">
			<img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" />
		</a>
	</div>
	<div class="lightbox-or-separator">
		<span>or</span>
	</div>
	<div class="lightbox-content">
		<input id="email-or-username" placeholder="Username or Email" type="text" />
		<input id="password" placeholder="Password" type="text" />
		<input class="lightbox-button" type="submit" value="Go"/>
		<div class="lightbox-bottom-link">
			<a href="#signup" rel="leanModal" class="lightbox-bottom-link" id="signin-bottom">
				Don't have an account?
			</a>
		</div>
	</div>
</div>
<form id="create-session" action="/api/v1/session/create/" method=target="create-iframe" ng-controller="CreateCtrl">
	<div class="lightbox-header">
		Create QA Session
	</div>
	<div class="lightbox-content">
		<label for="title">Title</label>
		<input id="create-session-title" name="title" placeholder="ex: I am a YouTuber, ask me anything!" type="text" ng-model="title"/>
		<label for="title">Name</label>
		<input id="create-session-name" name="name" placeholder="ex: John Doe" type="text" ng-model="name"/>
		<label for="title">Role</label>
		<input id="create-session-role" name="role" placeholder="ex: Vlogger or YouTuber" type="text" ng-model="role"/>
		<label for="desc">Description</label>
		<textarea id="create-session-desc" name="desc" placeholder="Enter more details about your session here..."></textarea>
		<div id="create-session-image">
			<label for="image">Session Image</label><br/>
			<input type="file" name="image"/>
		</div>
		{{file}}
		<div id="create-session-length">
			<label for="duration">Duration (Hrs)</label>
			<br/>
			<input name="duration" type="number" ng-model="duration"/>
		</div>
		<div id="create-session-date">
			<label for="date">Date</label>
			<br/>
			<input name="date" type="date" ng-model="date"/>
		</div>
		<div id="create-session-time">
			<label for="time">Time</label>
			<br/>
			<input name="time" type="time" ng-model="time"/>
		</div>
		<input class="lightbox-button" id="create-session-button" type="submit" value="Schedule!"/>
	</div>
</form>
