<div id="header">
	<div id="center">
		<a href="/" target="_self" class="logo">
			ama.io
		</a>
		<div id="links">
			<a href="{% url 'live' %}" target="_self">sessions</a>
			<a href="{% url 'requests' %}" target="_self">requests</a>
			<a href="{% url 'about' %}" target="_self">about</a>
		</div>
		{% if user.is_anonymous %}
		<div id="sign-in">
			<a href="#signup" rel="leanModal" id="btnc">Sign In/Register</a>
		</div>
		{% else %}
		<div id="header-profile">
			<a href="{% url 'user' user.username %}" target="_self">
				<div id="header-profile-name">
					{{user.first_name|default:user.username}}
				</div>
				<div class="dropdown-arrow">&#9660;</div>
			</a>
			<ul>
				<a href="{% url 'user' user.username %}" target="_self"><li>Profile</li></a>
				<a href="#create-session" rel="leanModal" target="_self"><li>Create Session</li></a>
				<a href="#change-password" rel="leanModal" target="_self"><li>Change&nbsp;Password</li></a>
				<a href="{%url 'logout'%}" target="_self"><li>Logout</li></a>
			</ul>
		</div>
		{% endif %}
		<form id="search" method="GET" action="/search/">
			<input type="text" name="q" placeholder="Search person, sessions..." />
		</form>
	</div>
</div>
