{%extends "base.html"%}
{%load cache%}

{%block content%}
	{%cache 10 homepage%}
	<h1>Live Sessions</h1>
	{%if user.is_authenticated%}
	{%else%}
	{%endif%}
	<div class="clearfix tile-wrap">
	{%for session in live_sessions%}
	{%include "session_tile.html"%}
	{%endfor%}
	</div>
	{%if live_sessions%}
	<a href="{% url 'live'%}">Click here to see all live sessions.</a>
	{%else%}
	<a href="#sessionModal" data-toggle="modal">No live sessions currently running. Start your own?</a>
	{%endif%}	
		<h1>Upcoming</h1>
		{%if user.is_authenticated%}

		{%else%}

		{%endif%}
		<div class="clearfix tile-wrap">
		{%for session in upcoming_sessions%}
		{%include "session_tile.html"%}
		{%endfor%}
		</div>
	{%if upcoming_sessions%}
		<a href="{% url 'upcoming'%}">Click here to see all upcoming sessions.</a>
	{%else%}
		<a href="#sessionModal" data-toggle="modal">No upcoming sessions. Schedule one?</a>	
	{%endif%}
		<div class="clearfix">
			<h1 class="pull-left">Top Requests</h1>
			{%if user.is_authenticated%}
			<div class="btn btn-title-inline" href="#requestModal" data-toggle="modal">Request an AMA</div>
			{%else%}
			<div class="btn btn-title-inline" href="#loginModal" data-toggle="modal">Request an AMA</div>
			{%endif%}
		</div>
	<div class="clearfix tile-wrap">
	{%if top_requests%}
	<table class="table table-striped table-bordered requests-table">
		<tr>
			<th>Person</th>
			<th>Tweets</th>
			<th>Action</th>
		</tr>
	{% for request in top_requests%}
	{%include "request_tile.html"%}
	{%endfor%}
	</table>
	</div>
	<a href="{% url 'requests'%}">Click here to see all requests.</a>
	{%else%}
	<a href="{%if user.is_authenticated%}#requestModal{%else%}#loginModal{%endif%}" data-toggle="modal">No active requests.  Request someone?</a>
	{%endif%}
	
	{%endcache%}
{%endblock%}
