{% extends "base.html" %}
{% load staticfiles %}
{%block postscript%}
{%endblock%}
{% block content %}
<div id="home-top">
	<div id="box">
		<div id="text">
			Ask <span id="rotate" ng-controller="RotateCtrl" ng-bind="item"></span> anything
		</div>
		<div id="subtext">
			Host and join Q&A sessions with the world
		</div>
		{% if user.is_anonymous %}
		<a href="{% url 'twitter_login'%} ">
			<img src="{% static 'images/twitter-signin.png' %}" />
		</a><br/>
		<a id="small-text" href="#signup" rel="leanModal">
			or join with your email
		</a>
		{% else %}
		<a href="#request" rel="leanModal">
			<div class="box-btn-left">Request Someone</div>
		</a>
		<a href="#create-session" rel="leanModal">
			<div class="box-btn-right">Create a Session</div>
		</a>
		{% endif %}
	</div>
</div>
<div id="home-live">
	<h2>LIVE AMAs</h2>
	<div class="desc">
		<strong>What is an AMA?</strong> In an AMA session, a person interacts with their fans or followers in a fun, live question and answer interface.
	</div>
	{% if not live_sessions.all %}
	<div class="empty-content">
		There are currently no live AMA sessions.
	</div>
	{% endif %}
	{% include "session_list.html" with sessions=live_sessions %}
	<a class="link-all" href="/live">
		View all AMAs
	</a>
</div>
<div id="home-requests">
	<div id="main">
		<h2>TOP REQUESTS</h2>
		<div class="desc">
			Do you want to interact with your favorite people?  Request or tweet them to do an AMA session.
		</div>
		<table align="center" cellpadding="10px">
			{% for request in top_requests %}
			<tr>
				<td>
					<strong>{{request.desc}}</strong> @{{request.username}}
				</td>
				<td>
					{{request.score}}
					<a class="btn tweet-btn" href="{{request.tweet_url}}">Tweet them!</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<a class="link-all" href="{%url 'requests'%}">
			View all requests
		</a>
	</div>
</div>
{% if user.is_anonymous %}
<div id="home-bottom">
	<div id="main">
		<h2 class="white">Join the party!</h2>
		<a class="twitter-auth" href="{% url 'twitter_login' %}">
			<img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" />
		</a><br/>
		<a id="small-text" class="white" href="#signup" rel="leanModal">
			or register with your email
		</a>
	</div>
</div>
{% endif %}
{% endblock %}
{% block push %}
<div class="push-grey push"></div>
{% endblock %}
