{%extends "base.html"%}
{%load cache%}

{%block content%}
	{%cache 10 homepage%}
	<h1>Live Sessions</h1>
	<div class="clearfix tile-wrap">
	{%for session in live_sessions%}
	{%include "session_tile.html"%}
	{%endfor%}
	</div>
	<a href="{% url 'live'%}">Click here to see all live sessions.</a>
	<h1>Upcoming</h1>
	<div class="clearfix tile-wrap">
	{%for session in upcoming_sessions%}
	{%include "session_tile.html"%}
	{%endfor%}
	</div>
	<a href="{% url 'upcoming'%}">Click here to see all upcoming sessions.</a>
	<h1>Top Requests</h1>
	<div class="clearfix tile-wrap">
	<table class="table table-striped requests-table">
		<tr>
			<th>Person</th>
			<th>Votes</th>
			<th>Vote Up</th>
		</tr>
	{% for request in top_requests%}
	{%include "request_tile.html"%}
	{%endfor%}
	</table>
	</div>
	<a href="{% url 'requests'%}">Click here to see all requests.</a>
	{%endcache%}
{%endblock%}
