{% extends "base.html" %}
{% block title %}Terms & Privacy{% endblock %}

{% block content %}
<div class="header-separator"></div>
<div class="legal-text">
	<h2>User Agreement</h2>
	<p>Updated <strong>11/12/2013</strong></p>
	<p>
		The following User Agreement ("Agreement") governs the use of www.ama.io ("Website"), including without limitation participation in its question and answer sessions, session requests, and all other areas (except to the extent stated otherwise on a specific page) as provided by ama.io ("Service Provider," "we," or "our").
	</p>
	<p>
		Please read the rules contained in this Agreement carefully. Your use of and/or registration on any aspect of the Website will constitute your agreement to comply with these rules. If you cannot agree with these rules, please do not use the Website.
	</p>
	<p>
		In addition to reviewing this Agreement, please read our Privacy Policy. Your use of the Website constitutes agreement to its terms and conditions as well.
	</p>
	<p>
		The Agreement may be modified from time to time; the date of the most recent revisions will appear on this page, so check back often. Continued access of the Website by you will constitute your acceptance of any changes or revisions to the Agreement.
	</p>
	<p>
		Your failure to follow these rules, whether listed below or in bulletins posted at various points in the Website, may result in suspension or termination of your access to the Website, without notice, in addition to Service Provider's other remedies.
	</p>
	<p>
		We strive to provide an enjoyable online experience for our users, so we may monitor activity on the Website, including in the question and answer sessions, and other areas of the Website to foster compliance with this Agreement. All users of the Website hereby specifically agree to such monitoring. Nevertheless, we do not make any warranties or guarantees that: (1) the Website, or any portion thereof, will be monitored for accuracy or unacceptable use, (2) apparent statements of fact will be authenticated, or (3) we will take any specific action (or any action at all) in the event of a dispute regarding compliance or non-compliance with this Agreement.
	</p>
	<p>
		Service Provider may at times require that you register and/or set up an account to use certain portions of the Website, or the Website as a whole. In order to do so, you may be provided, or required to choose, a password, user name, and/or other registration information (collectively, "Registration Information"). You agree and represent that all Registration Information provided by you is accurate and up-to-date. If any of your Registration Information changes, you must update it by using the appropriate update mechanism on the Website, if available. Otherwise, contact our Privacy Policy Coordinator as described in our Privacy Policy.
	</p>
	<p>
		If you register and/or set up an account on the Website, you will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize others to use your Registration Information. You may not sub-license, transfer, sell or assign your Registration Information and/or this Agreement to any third party without our written approval. Any attempt to do so will be null and void and shall be considered a material breach of this Agreement.
	</p>
	<p>
		You are solely responsible for all usage or activity on your account including, but not limited to, use of the account by any person who uses your Registration Information, with or without authorization, or who has access to any computer on which your account resides or is accessible.
	</p>
	<p>
		If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your Registration Information or any credit, debit or charge card number stored on the Website), you must promptly change the affected Registration Information by using the appropriate update mechanism on the Website, if available, or notify our Privacy Policy Coordinator as described in our Privacy Policy.
	</p>
	<p>
		The Website is not intended for users under the age of 13, and Service Provider does not knowingly collect personally identifiable information from users under the age of 13. Such users are expressly prohibited from submitting their personally identifiable information to us, and from using portions of the Website for which registration is required, such as our forums and chat areas; any information submitted by such users will not knowingly be used, posted, or retained by us.
	</p>
	<p>
		Unless otherwise specified, the Website is intended for your personal use only. You may not authorize others to use the Website, and you are responsible for all use of the Website by you and by those you allow to use, or provide access to, the Website. You may not impersonate, imitate or pretend to be somebody else when using the Website.
	</p>
	<p>
		You may not provide to or submit on or through the Website any graphics, text, photographs, images, video, audio or other material that constitutes junk mail, spam, advertising, and/or commercial offers. You may not repeat the same questions or comments multiple times in a day or week.
	</p>
	<p>
		You agree not to use any obscene, indecent, or offensive language or to provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that is defamatory, abusive, bullying, harassing, racist, hateful, or violent. You agree to refrain from ethnic slurs, religious intolerance, homophobia, and personal attacks when using the Website.
	</p>
	<p>
		You further agree not to use any sexually suggestive language or to provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that is sexually suggestive or appeals to a prurient interest.
	</p>
	<p>
		You may not provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that invades anyone's privacy, or facilitates or encourages conduct that would constitute a criminal offense, give rise to civil liability, or that otherwise violates any local, state, federal, national or international law or regulation (e.g., drug use, underage drinking). You agree to use the Website only for lawful purposes and you acknowledge that your failure to do so may subject you to civil and criminal liability. Do not provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that includes instructions for weapon and/or explosive manufacture or use.
	</p>
	<p>
		You are responsible for ensuring that any graphics, text, photographs, images, video, audio or other material you provide to or post on the Website, including without limitation in question and answer sessions or elsewhere, does not violate the copyright, trademark, trade secret or any other personal or proprietary rights of any third party or is provided or posted with the permission of the owner(s) of such rights.
	</p>
	<p>
		The Website may contain graphics, text, photographs, images, video, audio and other material that is clearly identified for your use ("Assets"). The Assets are protected by state, national and international copyright, trademark and other intellectual property laws. Nevertheless, we (and our licensors) grant to you the limited, non-exclusive, right and license to use the Assets solely as described on the Website, as limited by this Agreement, and provided further that you keep intact any and all copyright and other proprietary notices.
	</p>
	<p>
		The Website also contains other graphics, text, photographs, images, video, audio, software, code, and other material that is provided by Service Provider or its licensors and is not clearly identified as, or intended, for your use, including without limitation the organization, design, compilation, and "look and feel" of the Website, and advertising thereon ("Website Content"). The Website Content is protected by state, national and international copyright, trademark and other intellectual property laws, and is the property of Service Provider or its licensors. The copying, reproduction, publication, display, rearrangement, redistribution, modification, revision, alteration, cropping, re-sizing, reverse engineering, movement, removal, deletion, or other use or change by you, directly or indirectly, of any such Website Content, including but not limited to the removal or alteration of advertising, is strictly prohibited.
	</p>
	<p>
		You may not in any way make commercial or other unauthorized use, by publication, re-transmission, distribution, performance, caching, or otherwise, of material obtained through the Website, including without limitation the Assets or Website Content, except as permitted by the Copyright Act or other law or as expressly permitted in writing by this Agreement, Service Provider or the Website.
	</p>
	<p>
		You agree not to disrupt, overwhelm, attack, modify, reverse engineer or interfere with the Website or its associated software, hardware and/or servers in any way, and you agree not to impede or interfere with others' use of the Website.
	</p>
	<p>
		Other than connecting to Service Provider's servers by http requests using a Web browser, you may not attempt to gain access to Service Provider's servers by any means - including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Website or otherwise.
	</p>
	<p>
		You acknowledge that Service Provider has not reviewed and does not endorse the content of all sites linked to from this Website and is not responsible for the content or actions of any other sites linked to from this Website. Your linking to any service or site is at your sole risk.
	</p>
	<p>
		Service Provider does not necessarily endorse, support, sanction, encourage, verify, or agree with the comments, opinions, or statements posted in question and answer sessions or elsewhere contained in the Website. Any information or material placed online, including advice and opinions, are the views and responsibility of those who post the statements and do not necessarily represent the views of Service Provider or its third party service providers. You agree that Service Provider and its third party service providers are not responsible, and shall have no liability to you, with respect to any information or materials posted by others, including defamatory, offensive or illicit material, even material that violates this Agreement.
	</p>
	<p>
		For information regarding use of information about you that you may supply or communicate to the Website, please see our Privacy Policy. Except as expressly provided otherwise in the Privacy Policy, you agree that by posting messages, uploading files, inputting data, or engaging in any other form of communication with or through the Website, you grant us a royalty-free, perpetual, non-exclusive, unrestricted, worldwide license to use, reproduce, modify, adapt, translate, enhance, transmit, distribute, publicly perform, display, or sublicense any such communication in any medium (now in existence or hereinafter developed) and for any purpose, including commercial purposes, and to authorize others to do so. In addition, please be aware that information you disclose in publicly accessible portions of the Website will be available to all users of the Website, so you should be mindful of personal information and other content you may wish to post.
	</p>
	<p>
		You agree to indemnify Service Provider and its affiliates, employees, agents, representatives and third party service providers, and to defend and hold each of them harmless, from any and all claims and liabilities (including attorneys fees) which may arise from your submissions, from your unauthorized use of material obtained through the Website, or from your breach of this Agreement, or from any such acts through your use of the Website.
	</p>
	<p>
		Service Provider reserves the right, but undertakes no duty, to review, edit, move or delete any material provided for display or placed on the Website, in its sole discretion, without notice.
	</p>
	<p>
		Service Provider reserves the right to post, from time to time, additional rules of usage that apply to specific parts of the Website. Such additional rules will be posted in the relevant parts of the Website. Your continued use of the Website constitutes your agreement to comply with these additional rules.
	</p>
	<p>
		YOU ACKNOWLEDGE THAT YOU ARE USING THE WEBSITE AT YOUR OWN RISK. THE WEBSITE IS PROVIDED "AS IS", AND THE SERVICE PROVIDER, ITS AFFILIATES AND ITS THIRD PARTY SERVICE PROVIDERS HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF ACCURACY, RELIABILITY, TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM, INCLUDING BUT NOT LIMITED TO THE ACCURACY OR COMPLETENESS OF ANY INFORMATION CONTAINED THEREIN OR PROVIDED BY THE WEBSITE. SERVICE PROVIDER, ITS AFFILIATES, AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT REPRESENT OR WARRANT THAT ACCESS TO THE WEBSITE WILL BE UNINTERRUPTED OR THAT THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED ON THE WEBSITE.
	</p>
	<p>
		SERVICE PROVIDER, ITS AFFILIATES AND ITS THIRD PARTY SERVICE PROVIDERS SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ALLEGEDLY SUSTAINED ARISING OUT OF THIS AGREEMENT, THE PROVIDING OF THE WEBSITE HEREUNDER, THE SALE OR PURCHASE OF ANY GOODS OR MERCHANDISE, YOUR ACCESS TO OR INABILITY TO ACCESS THE WEBSITE, INCLUDING FOR VIRUSES ALLEGED TO HAVE BEEN OBTAINED FROM THE WEBSITE, YOUR USE OF OR RELIANCE ON THE WEBSITE OR ANY OF THE MERCHANDISE, INFORMATION OR MATERIALS AVAILABLE ON THE WEBSITE, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE.
	</p>
	<p>
		YOU HEREBY AGREE TO RELEASE SERVICE PROVIDER, ITS AFFILIATES AND THIRD-PARTY SERVICE PROVIDERS, AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED ("CLAIMS"), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THIS SITE. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, IN PART: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR".
	</p>
	<p>
		Service Provider has the right to terminate and/or suspend your ability to access the Website or any portion thereof, for any or no reason, without notice.
	</p>
	<p>
		Service Provider makes no representation that materials on the Website are appropriate, available or legal in any particular location. Those who choose to access the Website do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable.
	</p>
	<p>
		You agree that this Agreement, for all purposes, shall be governed and construed in accordance with the laws of the State of New York applicable to contracts to be wholly performed therein, and any action based on, relating to, or alleging a breach of this Agreement must be brought in a state or federal court in New York. In addition, both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.
	</p>
	<p>
		If you don't agree to the terms contained in this Agreement, please exit the Website by clicking the Back button on your browser to return to the previous page.
	</p>
	<h2>Privacy Policy</h2>
	<p>Updated <strong>11/12/2013</strong></p>
	<p>
		We take protecting your privacy seriously, and we want you to understand exactly how and why we use your information. This document is our Privacy Policy, which describes what information we collect and what it's used for. It applies to all interactions with ama.io, including content posted through third-party services.
	</p>
	<p>
		Please read this Privacy Policy carefully. Your use of and/or registration with ama.io will constitute your agreement to our policy. If you cannot agree to the terms and conditions set forth below, please do not use our services. Additionally, our Privacy Policy is part of our User Agreement, and by using the site you agree to both.
	</p>
	<p>
		ama.io is an open platform that allows you to communicate with others around the world through a question and answer platform. We collect some information in order for you to have an account you can use to participate on the site, and other information that is necessary to make the service work. Our goal in developing our privacy practices is to allow your participation to remain as anonymous as you choose and we don’t sell or profit from the information you share with us.
	</p>
	<p>
		We do take efforts to make sure the platform keeps working. This includes using your information, where necessary, to stop spam and gaming and other activities that violate the user agreement. We also share your information when we are legally required to do so. Please read this privacy policy carefully. It describes what information we collect, how it is used, and when it is shared so you can make smart decisions about how you use ama.io! We think it strikes a good balance and respects you – our users – who make this whole thing possible. Let us know what you think.
	</p>
	<p>
		When you create an account, you are required to provide a username, password, and an email address. We also log, and retain indefinitely, the IP address from which the account is initially created.
	</p>
	<p>
		The questions, comments and sessions you make on ama.io are not private.  You can delete questions that are unanswered, but if they have been answered, they cannot be deleted or modified.
	</p>
	<p>
		ama.io stores the IP addresses associated with specific questions, comments, or sessions.
	</p>
	<p>
		Log data is certain information that is automatically collected by our systems when you visit ama.io, including the type of software used to access the site (browser, operating system), the address of the external or internal page that referred you, and your IP address. This information is recorded even if you are logged out of your account.
	</p>
	<p>
		As you interact with ama.io as a session owner or particpator, we save certain information about these interactions and your preferences: question data, voting, session statistics, timestamps of activity, and other related site interactions.
	</p>
	<p>
		It takes a lot of work to keep our site running and prevent abuse, and we sometimes use your data in order to facilitate this. Your information is used internally only where necessary to provide our services. For instance, we keep IP addresses for at least 90 days in order to investigate issues with our site, track and block suspected spammers, and otherwise maintain the integrity of the community.
	</p>
	<p>
		We may disclose – or preserve for future disclosure – your information if we believe, after due consideration, that doing so is reasonably necessary to comply with a law, regulation, or valid legal process. If we are going to release your information, we will do our best to provide you with notice unless we are prohibited by court order from doing so (e.g., an order under 18 U.S.C. § 2705(b)).
	</p>
	<p>
		Other extraordinary circumstances may require disclosure: we may also disclose your information when we believe it's necessary to prevent imminent and serious bodily harm to a person; to address fraud, security, or spam; or to protect our rights or property.
	</p>
	<p>
		Cookies are small data files placed on your computer by websites you visit in order to help them remember certain information about you. At ama.io, we set only a few cookies for tracking user preferences, authentication, and collecting anonymous analytics data.
	</p>
	<p>
		Although we welcome users from all walks of life, our site is not aimed at children, and the United States government has put limits on our ability to accept users under a certain age through the Children's Online Privacy Protection Act of 1998. Individuals under the age of 13 may not create an account with us. If you believe someone 12 or younger is using our site without parental consent, please contact us.
	</p>
	<p>
		We reserve the right to change this policy to meet the changing needs of ama.io or for any other reason. If we make changes, we will notify our users. Where the changes substantially alters your rights, notice will appear prominently on your front page. More minor changes may only be highlighted by the privacy policy link in the footer of our website.
	</p>
</div>
{% endblock %}
