<button type="button" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
{% if user.is_anonymous%}
<form id="login_form" class="navbar-form pull-right">
	<div class="input-prepend">
		<span class="add-on"><i class="icon-user"></i></span><input id="username" name="username" class="span2" type="text" placeholder="Username">
	</div>
	<div class="input-prepend">
		<span class="add-on">?</span>
		<input id="password" name="password" class="span2" type="password" placeholder="Password">
	</div>
	<div class="input-prepend btn-group">
		<button id="login" class="btn">
			Sign in
		</button>
		<a href="#registerModal" data-toggle="modal" class="btn">
			Register
		</a>
	</div>
</form>
{%else%}
<div class="navbar-text pull-right btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		{{user}} <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a tabindex="-1" href="{%url 'user' user.username%}"><i class="icon-user"></i> Profile</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="#"><i class="icon-th-list"></i> My Sessions</a></li>
		<li><a tabindex="-1" href="#"><i class="icon-plus"></i> Create Session</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="#settingsModal" data-toggle="modal"><i class="icon-cog"></i> Settings</a></li>
	</ul>
	<a class="btn" href="{%url 'logout'%}">Logout.</a>
</div>
{%endif%}
<a class="brand" href="/">Project AMA</a>
<div class="nav-collapse collapse">
	<ul class="nav">
		<li class="active">
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sessions <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">Action</a>
				</li>
				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li class="divider">
				</li>
				<li class="nav-header">
					Nav header
				</li>
				<li>
					<a href="#">Separated link</a>
				</li>
				<li>
					<a href="#">One more separated link</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
