{% extends "base.html" %}

{%load staticfiles%}

{% block title %}{{user.meta.full_name}}'s Profile{% endblock %}

{%block postscript%}
<script>
GLOBALS['user'] = '{{user.username}}';
</script>
{%endblock%}

{% block content %}
{%verbatim%}
<div class="header-separator"></div>
<div ng-controller="ProfileCtrl">
	<div id="profile-box">
		<div id="profile-image">
			<img ng-src="{{user.image}}" />
		</div>
		<div id="profile-info">
			<div id="bio">
				<div id="bio-header">
					<h2>{{user.display}}</h2>
					<div id="twitter-username" ngif="user.twitter">
						<a ng-href="https://twitter.com/{{user.twitter}}" ng-if="user.twitter">
							@{{user.twitter}}
						</a>
					</div>
				</div>
				<p ng-if="user.desc">{{user.desc}}
				</p>
			</div>
			<div id="profile-stats">
				<div class="stat-block">
					<div class="stat">{{user.score}}</div>
					<ng-pluralize count="user.score"
					when="{'one': 'point',
					'other': 'points'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.sessions_viewed}}</div>
					<ng-pluralize count="user.sessions_viewed"
					when="{'one': 'session joined',
					'other': 'sessions joined'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.questions_asked}}</div>
					<ng-pluralize count="user.questions_asked"
					when="{'one': 'question asked',
					'other': 'questions asked'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.questions_answered}}</div>
					<ng-pluralize count="user.questions_asked"
					when="{'one': 'question answered',
					'other': 'questions answered'}">
					</ng-pluralize>
				</div>
			</div>
		</div>
	</div>
	<div id="activity">
		<div id="activity-header">
			<h2>Activity</h2>
			<div id="filter">
				<div id="text">
					<a class="filter-options clickable" ng-class="{current: tab == 'questions'}" ng-click="qfilter={'action_type':'question'};tab='questions'">Questions</a>&nbsp;|&nbsp; 
					<a class="filter-options clickable" ng-class="{current: tab == 'requests'}" ng-click="qfilter={'action_type':'request'};tab='requests'">Requests</a>&nbsp;|&nbsp;
					<a class="filter-options clickable" ng-class="{current: tab == 'all'}" ng-click="qfilter={};tab='all'">All</a>
				</div>
			</div>
		</div>
		<table id="activities">
			<tbody>
				<tr ng-repeat="activity in user.activities|filter:qfilter">
					<td id="activity-timestamp">
						<a ng-href="{{activity.url}}">
							{{activity.date | countdown}}
						</a>
					</td>
					<td id="activity-info">
						<a ng-href="{{activity.url}}">
							<div ng-switch="activity.action_type">
								<div ng-switch-when="request">
									{{user.display}} tweeted {{activity.handle}} to host an AMA session.
								</div>
								<div ng-switch-when="question">
									{{user.display}} asked {{activity.user}} a question: {{activity.question}}
								</div>
								<div ng-switch-when="answer">
									{{user.display}} answered {{activity.user}}'s a question: {{activity.answer}}
								</div>
								<div ng-switch-when="session_start">
									{{user.display}} started a session: {{activity.title}}
								</div>
								<div ng-switch-when="session_create">
									{{user.display}} scheduled a session: {{activity.title}}
								</div>
								<div ng-switch-when="session_end">
									{{user.display}}'s' session ended: {{activity.title}}
								</div>
							</div>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endverbatim%}
{% endblock %}
