{%load markup%}
<div class="question row-fluid" data-question="{{question.id}}" id="question-{{question.id}}">
	<div class="span12 thumbnail question-box">
		<div class="row-fluid">
			<div style="vertical-align:middle;" class="btn-group-vertical question-options">
				{% if user == question.target%}
				<a href="#" class="btn" onclick="$('#answer-form-{{question.id}}').toggle();"><i class="icon-ok"></i> Answer</a>
				{%else%}
				<a href="#" id="upvote-{{question.id}}" data-question="{{question.id}}" class="btn upvote {%if question.vote == 1%}btn-success{%endif%}"><i class="icon-thumbs-up"></i></a>
				{%endif%}
				<div disabled id="score-{{question.id}}" class="btn" >{{question.score}}</div>
				{% if user == question.target%}
				<a href="#" class="delete btn" data-question="{{question.id}}"><i class="icon-trash"></i> delete</a>
				{%else%}
				<a href="#" id="downvote-{{question.id}}" data-question="{{question.id}}" class="btn downvote {%if question.vote == -1%}btn-danger{%endif%}"><i class="icon-thumbs-down"></i></a>
				{%endif%}
				
			</div>
			<div class="question-area">
				<h4>{{question.question}}</h4>
				<p>{{question.desc|markdown:"safe"}}
				</p>
				<small>&mdash;Asked by {{question.asker}}</small>
			</div>
		</div>
		{% if user == question.target%}
		<div class="answer-area" id="answer-form-{{question.id}}" style="display:none">
			<hr/>
			<div class="row-fluid">
				<form>
						<textarea class="answer-textarea" id="answer-textarea-{{question.id}}" type="text">{{question.answer.response}}</textarea><br/>
						<button class="btn answer-confirm-btn btn-primary" onclick="answer({{question.id}})" type="button">Confirm</button>
						<button class="btn answer-confirm-btn btn-default" onclick="answer({{question.id}})" type="button">Close</button>
				</form>
			</div>
		</div>
		{%endif%}
		<div id="answer-{{question.id}}" {%if not question.answer%}style="display:none"{%endif%}>
			<hr/>
			<div class="row-fluid">
				<div class="response-area">
					<b>Response:&nbsp;&nbsp;&nbsp;&nbsp;</b><p id="answer-text-{{question.id}}">{{question.answer.response}}</p>
				</div>
			</div>
		</div>
		<a onclick="loadDisqus(jQuery('#comments-{{question.id}}'), 'question_{{question.id}}', '/s/{{question.session.slug}}');">
      Show comments
		
		<div id="comments-{{ question.id }}">
			
		</div>

	</div>
</div>
