{%load markup%}
{%load cache%}
<div class="question row-fluid" data-question="{{question.id}}" id="question-{{question.id}}">
	<div class="thumbnail question-box">
		<div class="row-fluid">
			<div style="vertical-align:middle;" class="btn-group-vertical question-options">
				{% if user == question.target%}
				<a href="#" class="btn answer-button"><i class="icon-ok"></i> Answer</a>
				{%else%}
				<a href="#" id="upvote-{{question.id}}" data-question="{{question.id}}" class="btn upvote {%if question.vote == 1%}btn-success{%endif%}"><i class="icon-thumbs-up"></i></a>
				{%endif%}
				<div disabled id="score-{{question.id}}" class="btn" >{{question.score}}</div>
				{% if user == question.target%}
				<a href="#" class="delete btn" data-question="{{question.id}}"><i class="icon-trash"></i> delete</a>
				{%else%}
				<a href="#" id="downvote-{{question.id}}" data-question="{{question.id}}" class="btn downvote {%if question.vote == -1%}btn-danger{%endif%}"><i class="icon-thumbs-down"></i></a>
				{%endif%}
				
			</div>
			{% if user == question.target%}
			<a href="#" id="star-{{question.id}}" class="star btn {% if question.starred%}btn-info{%endif%}" data-question="{{question.id}}"><i class="icon-star"></i> Star</a>
			{%endif%}
			<a class="btn permalink" href="{%url 'question' question.id%}" >Link</a>
			{%cache 60 question question.id%}
			<div class="question-area">
				<h4>{{question.question}}</h4>
				<p>{{question.desc|markdown:"safe"}}
				</p>
				<small>&mdash;Asked by {{question.asker.meta.full_name}}</small>
			</div>
			{%endcache%}
		</div>
		{% if user == question.target%}
		<div class="answer-area" id="answer-form-{{question.id}}" style="display: none">
			<hr/>
			<div class="row-fluid">
				<form>
						<textarea class="answer-textarea" id="answer-textarea-{{question.id}}" type="text">{{question.answer.response}}</textarea><br/>
						<button class="btn answer-confirm-btn btn-primary" onclick="answer({{question.id}})" type="button">Confirm</button>
						<button class="btn answer-confirm-btn btn-default" onclick="answer({{question.id}})" type="button">Close</button>
				</form>
			</div>
		</div>
		{%endif%}
		<div id="answer-{{question.id}}" {%if not question.answer%}style="display: none"{%endif%}>
			<hr/>
			<div class="row-fluid">
				<div class="response-area">
					<b>Response:&nbsp;&nbsp;&nbsp;&nbsp;</b><div id="answer-text-{{question.id}}">
					{{question.answer.response|markdown:"safe"}}
					
					</div>
				</div>
			</div>
		</div>
		<div id="comment-show">
			<a href="#" class="show-comments" data-question="{{question.id}}">
	      		Show comments
	      	</a>
      	</div>
      	<div class="comment-wrapper" id="comment-wrapper-{{question.id}}" style="display: none">
      		{%if user.is_authenticated%}
      		<div class="comment-form-wrapper">
	      		<textarea class="comment-form" id="comment-form-{{question.id}}"></textarea>
	      		<div class="btn add-comment" id="comment-submit-{{question.id}}">
	      			Add Comment
	      		</div>
      		</div>
      		{%endif%}
      		<div id="comments-{{question.id}}">
		
			</div>
			<div class="no-comments" id="nocomments-{{question.id}}" style="display: none">
				There are no comments. Be the first!
			</div>
			<div class="btn view-more" style="display: none">
      			View more...
      		</div>
		</div>
	</div>
</div>
