{%extends "base.html"%}
{%load staticfiles%}
{% load jstemplate %}

{%block prescript%}
<script type="text/javascript">
GLOBALS['question_full'] = true
</script>
{%endblock%}

{%block postscript%}
<script type="text/javascript" src="{% static 'js/session.js' %}">
</script>
{%if question.session.owner == user%}
<script type="text/javascript" src="{% static 'js/session-owner.js' %}">
</script>
{%endif%}
{%mustachejs "comment"%}
{%mustachejs "question"%}
{%endblock%}

{%block content%}
{%include "question.html"%}
{%endblock%}
