{%load markup%}
<div class="question row-fluid" data-question="{{question.id}}" id="question-{{question.id}}">
	<div class="span12 thumbnail">
		<div class="row-fluid">
			<div style="vertical-align:middle;" class="span2 btn-group-vertical">
				{% if user == question.target%}
				<a href="#" class="btn"><i class="icon-ok"></i> Answer</a>
				{%else%}
				<a href="#" id="upvote-{{question.id}}" data-question="{{question.id}}" class="btn upvote {%if question.vote == 1%}btn-success{%endif%}"><i class="icon-thumbs-up"></i></a>
				{%endif%}
				<div disabled id="score-{{question.id}}" class="btn" >{{question.score}}</div>
				{% if user == question.target%}
				<a href="#" class="btn"><i class="icon-trash"></i> delete</a>
				{%else%}
				<a href="#" id="downvote-{{question.id}}" data-question="{{question.id}}" class="btn downvote {%if question.vote == -1%}btn-danger{%endif%}"><i class="icon-thumbs-down"></i></a>
				{%endif%}
				
			</div>
			<div class="span10">
				<blockquote>
				<p>{{question.question}}</p>
				<small>{{question.asker}}</small>
				</blockquote>
			</div>
		</div>
		<div id="answer-{{question.id}}" {%if not question.answer%}style="display:none"{%endif%}>
			<hr/>
			<div class="row-fluid">
				<div class="span12">
				<blockquote>
					<p id="answer-text-{{question.id}}">{{question.answer.response}}</P>
				</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
