{%extends "base.html"%}

{%block content%}
<div class="clearfix">
<h1 class="pull-left">Requests</h1>
{%if user.is_authenticated%}
<div class="btn btn-title-inline" href="#requestModal" data-toggle="modal">Request an AMA</div>
{%else%}
<div class="btn btn-title-inline" href="#loginModal" data-toggle="modal">Request an AMA</div>
{%endif%}
</div>
<table class="table table-striped table-bordered requests-table">
<tr>
<th>Person</th>
<th>Tweets</th>
<th>Action</th>
</tr>
{% for request in top_requests%}
{%include "request_tile.html"%}
{%endfor%}
</table>
<ul class="pager">
  {%if prev%}
  <li class="previous">
    <a href="{{prev}}">&larr;  Previous</a>
  </li>
  {%endif%}
  {%if next%}
  <li class="next">
    <a href="{{next}}">Next &rarr;</a>
  </li>
  {%endif%}
</ul>
{%endblock%}
