{%load staticfiles%}

<script src="http://code.jquery.com/jquery-1.10.2.js">
</script>
<script src="{% static 'js/bootstrap.js' %}">
</script>
<script src="{% static 'js/markdown.js' %}">
</script>
<script src="{% static 'js/navbar.js' %}">
</script>
<script src="{% static 'js/script.js' %}">
</script>
<script src="{% static 'js/mustache.js' %}">
</script>
<script src="{% static 'libs/django.mustache.js' %}">
</script>
<script>
{%if user.is_authenticated%}
GLOBALS['auth'] = true
{%else%}
GLOBALS['auth'] = false
{%endif%}
</script>
