{%extends "base.html"%}
{%load markup%}
{%load staticfiles%}
{% load thumbnail %}
{% load jstemplate %}
{%block prescript%}
<script type="text/javascript">
GLOBALS['session'] = "{{session.slug}}"
GLOBALS['question_full'] = false
{%if session.owner == user%}
GLOBALS['owner'] = true
{%endif%}
</script>
{%endblock%}
{%block postscript%}
{%if session.owner == user%}
<script type="text/javascript" src="{% static 'js/session-owner.js' %}">
</script>
{%endif%}
<script type="text/javascript" src="{% static 'js/session.js' %}">
</script>
{%mustachejs "comment"%}
{%endblock%}
{%block content%}
<div class="page-header row-fluid">
	<h1 id="session-title">
		{{session.title}}
	</h1>
	{%if session.owner == user%}
	<input style="display:none" x-autoblur type="text" id="session-title-edit" value="{{session.title}}">
	{%endif%}
	<h3 id="session-subtitle">
		{{session.subtitle}}
	</h3>
	{%if session.owner == user%}
	<input style="display:none" x-autoblur type="text" id="session-subtitle-edit" value="{{session.subtitle}}">
	{%if session.running%}
	<div id="end-session" class="btn">End Session</div>
	{%endif%}
	{%endif%}
</div>
{%if session.image%}
<div id ="session-img">
	<img src="{{session.image|thumbnail_with_max_side:'220'}}" class="img-rounded"/>
</div>
{%endif%}
<div id="session-desc" class="row-fluid">
	{{session.desc|markdown:"safe"}}
</div>
{%if session.owner == user%}
<textarea id="session-desc-edit" style="display:None">

</textarea>
{%endif%}
<div id="current-viewers">
{{session.num_viewers}} people currently viewing this AMA.
</div>
<div class="row-fluid qa-section">
	<ul id="sessiontabs" class="nav nav-tabs">
		<li class="active">
			<a href="#unanswered" data-toggle="tab">Unanswered Questions</a>
		</li>
		<li>
			<a href="#answered" data-toggle="tab">Answered Questions</a>
		</li>
	</ul>
	<div id="sessiontabcontent" class="tab-content">
		<div class="tab-pane fade active in" id="unanswered">
			<div class="row-fluid">
				<div class="span10" id="unansweredlist">
					{%for question in unanswered%} {%include "question.html"%} {%endfor%}
				</div>
				<a href="{%if user.is_authenticated%}#askModal{%else%}#loginModal{%endif%}" class="btn btn-large btn-success ask-btn affix" data-toggle="modal" data-spy="affix" data-offset-top="330">
					Ask
				</a>
				<a href="{%if user.is_authenticated%}#askModal{%else%}#loginModal{%endif%}" class="btn btn-large btn-success ask-btn-bottom" data-toggle="modal">
					Ask
				</a>
				<div id="askModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="askModelLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="addModalLabel">
							Ask Question
						</h3>
					</div>
					<div class="modal-body container-fluid">
						<form>
							<fieldset>
								<input type="text" placeholder="Question" id="ask-question"></input>
								<textarea id="ask-desc" class="span" placeholder="More details, if needed." rows="5"></textarea>
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> <button id="ask-submit" class="btn btn-primary btn-success">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="answered">
			<div class="row-fluid">
				<div class="span12" id="answeredlist">
					{%for question in answered%} {%include "question.html"%} {%endfor%}
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="about">
			{{session.desc|markdown:"safe"}}
		</div>
	</div>
</div>
{%endblock%}
