{% extends "base.html" %}
{%load staticfiles%}
{% load jstemplate %}

{%block title%}{{session.title}}{%endblock%}

{%block prescript%}
<script type="text/javascript">
GLOBALS['session_html'] = "{%static "html/session.html"%}"
GLOBALS['session'] = "{{session.slug}}"
GLOBALS['question_full'] = false
{% if votes%}
GLOBALS['votes'] = {{votes|safe}}
{%else%}
GLOBALS['votes'] = {}
{%endif%}
{%if session.owner == user%}
GLOBALS['owner'] = true
{%endif%}
</script>
{%endblock%}

{%block postscript%}
<script type="text/javascript" src="{% static 'js/session-routing.js' %}">
</script>
{%endblock%}

{% block content %}
<div ng-controller="SessionCtrl">
	<div ng-view></div>
</div>
{% endblock %}
