<table align="center" cellspacing="15px">
	{% for session in sessions %}
		{% with session=session.object%}
			{% cycle 'hello' '' 'end' as rows silent %}
			{% if rows == 'hello' %}
			<tr id="tile-row">
			{% endif %}
			<td>
                <div class="session-tile">
                    <a href="{{session.get_absolute_url}}"><img src="{{session.auto_image}}" width="150" height="150" />
					</a>
                    <div id="session-tile-info">
                        <strong>{{session.name}}</strong><br/>
                        {{session.role}}
                        {%if session.before%}
                        <strong><div ng-bind="'{{session.start_time.isoformat}}' | calendar">
						</div></strong>
                        {%endif%}
                    </div>
                </div> 
			</td>
			{% if rows == 'end' %}
			</tr>
			{% endif %}
		{%endwith%}
	{% endfor %}
</table>
