{% load ihatethumbnails %}
<a href="{%url 'session' slug=session.slug%}">
	<div class="thumbnail session-tile-wrapper" {% if session.image %}style="background-image: url('{{session.image|thumbnail_url:'session'}}'); background-repeat: no-repeat; background-size: 220px 220px; background-position: center;"{% endif %}>
		<div class="session-title">{{session.title}}</div>
		<div class="session-stats">
			<div class="session-stats-text">
			{% if not session.before%}
					Questions asked: {{session.questions.count}}<br/>
					Questions answered: {{session.answered.count}}
			{%endif%}
				{% if session.running %}
					<div {% if session.near_end %}class="near_end"{%endif%}>
					Time left: {{session.time_left}}<br/>
					Viewers: {{session.num_viewers}}
					</div>
				{%else%}
					<br/>Views: {{session.viewers.count}}
				{%endif%}
				{%if session.before%}
					<br/>Time until: {{session.time_until}}
					</p>
				{%endif%}
				</div>
			</div>
	</div>
</a>
