{% load ihatethumbnails %}
{% load staticfiles %}
<a href="{%url 'session' slug=session.slug%}" class="tile-links">
	<div class="row-fluid">
		<div class="thumbnail session-tile-wrapper span8">
			<div class="pull-left session-img">
				{% if session.image %}
				<img width="100" height="100" src="{{session.image|thumbnail_url:'session'}}" />
				{% else %}
				<img width="100" height="100" src="{%static 'images/default-session.png'%}" />
				{% endif %}
			</div>
			<div class="pull-left">
				<div class="session-title">
					{{session.title}}
				</div>
				<div class="session-title session-subtitle">
					{{session.subtitle}}
				</div>
				<div id="time-left" {% if session.near_end %}class="near_end"{%endif%}>
					{% if session.running %}
						Time left: {{session.time_left}}
					{%endif%}
					{%if session.before%}
						Time until: {{session.time_until}}
					{%endif%}
				</div>
			</div>
			<div class="pull-right">
				<div align="right" class="session-viewers">
					<i class="icon-eye-open"></i>&nbsp;{{session.viewers.count}}<br/>
					{% if not session.before%}
					<i class="icon-comment"></i>&nbsp;{{session.questions.count}}<br/>
					<i class="icon-ok"></i>&nbsp;{{session.answered.count}}
					{%endif%}
				</div>
			</div>
		</div>
	</div>
</a>
