{%extends "base.html"%}
{%block content%}
<div class="cell white thumbnail">
	<h1>{{user.meta.full_name}}</h1>
	<div>
		Joined: {{user.date_joined}}
	</div>
	<div class="user-stats">
		Questions asked: {{user.own_questions.count}}<br/>
		Questions answered: {{user.meta.answers.count}}
	</div>
	{%if live%}
	<div class="upcoming-user">
	<h2>Live Session!</h2>
		<div class="clearfix tile-wrap">
		{%include "session_tile.html" with session=live.0%}
		</div>
	</div>
	{%endif%}
	{%if upcoming%}
	<div class="upcoming-user">
		<h2>Upcoming Sessions</h2>
		<div class="clearfix tile-wrap">
		{%for session in upcoming%}
			{%include "session_tile.html"%}
		{%endfor%}
		</div>
	</div>
	{%endif%}
	{%if past%}
	<div class="past-user">
		<h2>Past Sessions</h2>
		<div class="clearfix tile-wrap">
		{%for session in past%}
			{%include "session_tile.html"%}
		{%endfor%}
		</div>
	<a href="{%url 'user_sessions' user.username%}">See more past sessions</a>
	</div>
</div>
{%endif%}
{%endblock%}
