{%extends "base.html"%}
{%block content%}
<div>
	Name: {{user.meta.full_name}}
</div>
<div>
	Joined: {{user.date_joined}}
</div>
<div>
	Questions asked: {{user.own_questions.count}}
</div>
<div>
	Questions answered: {{user.meta.answers.count}}
</div>
<div>
<h1>Past Sessions</h1>
{%for session in past%}
	{%include "session_tile.html"%}
{%endfor%}
<a href="{%url 'user_sessions' user.username%}">See more sessions</a>
</div>
<div>
<h1>Upcoming Sessions</h1>
{%for session in upcoming%}
	{%include "session_tile.html"%}
{%endfor%}
</div>
{%endblock%}
