Django==1.5.2
django-menu
django-tastypie
django-annoying
jsonfield
markdown
south
django-allauth
pycrypto
requests
requests_oauthlib
oauthlib
python-mimeparse
django-jstemplate
path.py
MySQL-python==1.2.3
https://bitbucket.org/russmo/django-storages-multi/get/default.zip
boto
https://github.com/zonedabone/haystack-cloudsearch/archive/develop.zip
django-ses
easy-thumbnails
python-memcached
pillow
django-haystack
django-debug-toolbar
django-debug-toolbar-template-timings
django-htmlmin
pytz==2013d
