Django==1.5.2
django-menu
django-tastypie
django-annoying
jsonfield
markdown
south
django-allauth
pycrypto
requests
requests_oauthlib
oauthlib
python-mimeparse
django-jstemplate
path.py
MySQL-python==1.2.3
django-storages
boto
django-ses
easy-thumbnails
python-memcached
pillow
