{% extends "2/base.html" %}
{% block content %}
<div id="about-top">
	<div id="text">
		<h2>About</h2>
		<strong>Our goal is simple:</strong> provide the best tool for interaction between people and their audience.  We wanted to create a clean environment that stimulates discussion and connects people from across the world in an intuitive question and answer platform.  
	</div>
</div>
<div id="about-team">
	<div id="the-team">
		<h2>The Team</h2>
		<table align="center" id="members">
			<tr>
				<td id="member">
					<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="125" height="125"/><br/>
					<strong>Justin Hundley</strong><br/>
					Project Manager<br/>
				</td>
				<td id="member">
					<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="125" height="125"/><br/>
					<strong>Eric Pauley</strong><br/>
					Lead Developer<br/>
				</td>
				<td id="member">
					<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="125" height="125"/><br/>
					<strong>Jared Calinisan</strong><br/>
					Lead Designer<br/>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="contact">
	<div id="contact-info">
		<h2>Contact</h2>
		<div id="contact-emails">
			<strong>General Support:</strong> <a href="mailto:support@ama.io">support@ama.io</a><br/>
			<strong>Business Inquiries:</strong> <a href="mailto:business@ama.io">business@ama.io</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
