{% extends "2/base.html" %}
{% block content %}
<div class="header-separator"></div>
<div id="search-results-container">
	<div id="search-results">
		<h2>AMAs matching "Will Smith"</h2>
		Sorry, no results found.  Check out the sessions below or make a request.
	</div>
</div>
<div id="sessions-list">
	<h2>AMA Sessions</h2>
	<a class="filter-options" id="current" href="#">Live</a> | <a class="filter-options" href="#">Upcoming</a> | <a class="filter-options" href="#">Past</a>
	<div id="sessions-list-container">
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
		<div class="session-tile">
			<img class="img225" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
			<div id="session-tile-info">
				<strong>Will Smith - Actor</strong><br/>
				100,000 in AMA session<br/>
				<a id="join-button" href="#">Join AMA</a>
			</div>
		</div>
	</div>
</div>
<div class="bottom-cta">
	Want to invite your favorite musician or actor to host an AMA?  Well what are you waiting for?<br/>
	<a href="#" class="tweet-btn">Request them!</a>
</div>
{% endblock %}
