{% extends "2/base.html" %}

{%load staticfiles%}

{% block title %}{{user.meta.full_name}}'s Profile{% endblock %}

{%block postscript%}
<script>
GLOBALS['user'] = '{{user.username}}';
</script>
<script type="text/javascript" src="{% static 'js/profile-angular.js' %}">
</script>
{%endblock%}

{% block content %}
{%verbatim%}
<div class="header-separator"></div>
<div ng-app="profileApp" ng-controller="ProfileCtrl">
	<div id="profile-box">
		<div id="profile-image">
			<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" />
		</div>
		<div id="profile-info">
			<div id="bio">
				<div id="bio-header">
					<h2>{{user.display}}</h2>
					<div id="twitter-username">
						@WillSmith
					</div>
				</div>
				<p>Will Smith is an actor, and crazy awesome person.  Here is a bio for sample, demo purposes!
				</p>
			</div>
			<div id="profile-stats">
				<div class="stat-block">
					<div class="stat">{{user.score}}</div>
					<ng-pluralize count="user.score"
					when="{'one': 'point',
					'other': 'points'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.sessions_viewed}}</div>
					<ng-pluralize count="user.sessions_viewed"
					when="{'one': 'session joined',
					'other': 'sessions joined'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.questions_asked}}</div>
					<ng-pluralize count="user.questions_asked"
					when="{'one': 'question asked',
					'other': 'questions asked'}">
					</ng-pluralize>
				</div>
				<div class="stat-block">
					<div class="stat">{{user.questions_answered}}</div>
					<ng-pluralize count="user.questions_asked"
					when="{'one': 'question answered',
					'other': 'questions answered'}">
					</ng-pluralize>
				</div>
			</div>
		</div>
	</div>
	<div id="activity">
		<div id="activity-header">
			<h2>Activity</h2>
			<div id="filter">
				<div id="text">
					<a class="filter-options clickable" ng-class="{current: tab == 'questions'}" ng-click="qfilter={'action_type':'question'};tab='questions'">Questions</a>&nbsp;|&nbsp; 
					<a class="filter-options clickable" ng-class="{current: tab == 'requests'}" ng-click="qfilter={'action_type':'request'};tab='requests'">Requests</a>&nbsp;|&nbsp;
					<a class="filter-options clickable" ng-class="{current: tab == 'all'}" ng-click="qfilter={};tab='all'">All</a>
				</div>
			</div>
		</div>
		<table id="activities">
			<tbody>
				<tr ng-repeat="activity in user.activities|filter:qfilter">
						<td id="activity-timestamp">
							<a ng-href="{{activity.url}}">
							{{activity.date | countdown}}
							</a>
						</td>
						<td id="activity-info" ng-if="activity.action_type=='request'">
							{{user.display}} tweeted {{activity.handle}} to host an AMA session.
						</td>
						<td id="activity-info" ng-if="activity.action_type=='question'">
							{{user.display}} asked {{activity.user}} a question: <span ng-bind-html="activity.question | markdown | plain"></span>
						</td>
						<td id="activity-info" ng-if="activity.action_type=='answer'">
							{{user.display}} answered {{activity.user}}'s a question: <span ng-bind-html="activity.answer | markdown | plain"></span>
						</td>
						<td id="activity-info" ng-if="activity.action_type=='session_start'">
							{{user.display}} started a session: {{activity.title}}
						</td>
						<td id="activity-info" ng-if="activity.action_type=='session_create'">
							{{user.display}} scheduled a session: {{activity.title}}
						</td>
						<td id="activity-info" ng-if="activity.action_type=='session_end'">
							{{user.display}}'s' session ended: {{activity.title}}
						</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endverbatim%}
{% endblock %}
