<div id="session-ask" ng-if="session.state != 'after' && tab !='question' && !owner">
	<div id="ask-box">
		<h2>Ask {{session.name}}:</h2>
		<textarea ng-model="state.question" maxlength="1000"></textarea>
		<span class="char-left" ng-if="state.question">
			<span ng-show="state.question.length < 6">{{6 - state.question.length}} characters to go...</span>
			<span ng-show="state.question.length >= 6">{{1000 - state.question.length}} characters left...</span>
		</span>
		<a id="ask-btn" disabled ng-if="state.askTimer" >Wait {{state.askTimer | countdown : true}}</a>
		<a id="ask-btn" ng-if="!state.askTimer" class="clickable" ng-click="doAsk()" ng-disabled="state.question.length < 6 || state.question.length > 1000">ASK!</a>
	</div>
</div>
<div id="questions-area">
	<div id="questions">
		<div id="filter">
			<div id="text">
				<a class="filter-options" ng-if="state.tab == 'question'" ng-href="/s/{{sessionId}}">Return to session </a>
				<span ng-if="state.tab != 'question'">
				<a class="filter-options" ng-class="{current: state.tab == 'unanswered'}" ng-href="/s/{{sessionId}}/unanswered"> Unanswered </a> | 
				<a class="filter-options" ng-class="{current: state.tab == 'answered'}" ng-href="/s/{{sessionId}}/answered"> Answered </a>|
				<a class="filter-options" ng-class="{current: state.tab == 'starred'}" ng-href="/s/{{sessionId}}/starred"> Starred</a></span>
			</div>
		</div>
		<div id="no-questions" ng-if="!state.questions.length && state.owner" ng-switch="tab">
			<div ng-switch-when="unanswered">
				There are no unanswered questions! Use the share button above to share your session.
			</div>
			<div ng-switch-when="answered">
				There are no answered questions. See all unanswered questions in the unanswered tab.
			</div>
			<div ng-switch-when="starred">
				There are no starred questions. You can star questions by clicking the star option.
			</div>
		</div>
		<div id="no-questions" ng-if="!state.questions.length && !state.owner" ng-switch="tab">
			<div ng-switch-when="unanswered">
				There are no unanswered questions. Put yours in the spotlight!
			</div>
			<div ng-switch-when="answered">
				There are no answered questions. Check back when the session owner starts to respond to questions.
			</div>
			<div ng-switch-when="starred">
				There are no starred questions. When session owners star questions they like, they show up here.
			</div>
		</div>
		<div class="question-wrapper">
			<div class="pair" ng-repeat="question in state.questions" ng-click="state.drafts[state.answering || -1] = state.answerdraft;state.answering = state.owner && question.id; state.answerdraft = state.drafts[question.id] || question.answer.response || ''">
				<div id="vote" ng-if="state.user">
					<a class="clickable" ng-click="vote(question, 1); $event.stopPropagation()" ng-class="{upvote: votes[question.id.toString()] == 1}">&#x25B2;</a><br/>
					<a class="clickable" ng-click="vote(question, -1); $event.stopPropagation()" ng-class="{downvote: votes[question.id.toString()] == -1}">&#x25BC;</a>
				</div>
				<div id="vote" ng-if="!state.user">
					<a class="clickable" onclick="$('#btnc').click()">&#x25B2;</a><br/>
					<a class="clickable" onclick="$('#btnc').click()">&#x25BC;</a>
				</div>
				<div id="question">
					<div class="user-picture-left">
						<a ng-href="/u/{{question.asker.username}}" target="_self">
							<img class="circular" ng-src="{{question.asker.image}}" width="75" height="75" />
						</a>
					</div>
					<div id="main">
						<div id="top-row">
							<a id="user-name" ng-href="/u/{{question.asker.username}}" target="_self">{{question.asker.display}}</a>
							<div id="timestamp">{{question.created | countdown}}</div>
							<a class="clickable" ng-if="state.owner">
								<i class="fa fa-comment"></i>&nbsp;reply
							</a>
							<a class="clickable" ng-if="state.owner && question.starred" ng-click="star(question, false); $event.stopPropagation()">
								<i class="fa fa-star"></i>&nbsp;unstar
							</a>
							<a class="clickable" ng-if="state.owner && !question.starred" ng-click="star(question, true); $event.stopPropagation()">
								<i class="fa fa-star"></i>&nbsp;star
							</a>
							<a class="clickable" ng-if="question.asker.username == state.user && session.state != 'after' && !question.answered" ng-click="state.questionEdit = question.id;$event.stopPropagation()">
								<i class="fa fa-pencil"></i>&nbsp;edit
							</a>
							<a class="clickable" ng-if="question.asker.username == state.user && session.state != 'after' && !question.answered" ng-click="delete(question, $index); $event.stopPropagation()">
								<i class="fa fa-trash-o"></i>&nbsp;delete
							</a>
							<a ng-href="/q/{{question.id}}">
								<i class="fa fa-external-link"></i>&nbsp;
								<ng-pluralize count="question.num_comments"
								when="{'one': '1 comment',
								'other': '{} comments'}">
								</ng-pluralize>
							</a>
							<div id="votes">
								<ng-pluralize count="question.score"
								when="{'0': '0 votes',
								'one': '1 vote',
								'other': '{} votes'}">
								</ng-pluralize>
							</div>
						</div>
						<br/>
						<textarea maxlength="1000" ng-show="state.questionEdit == question.id" ng-model="question.question" focus-on-show ng-blur="editQuestion(question);state.questionEdit=0"></textarea>
						<div id="text" ng-bind-html="question.question | linky: '_blank' | linesplit">
						</div>
					</div>
				</div>
				<div id="response" ng-if="question.answer || state.answering == question.id">
					<div class="user-picture-right">
						<a ng-href="/u/{{session.owner.username}}" target="_self">
							<img class="circular" ng-src="{{question.target.image}}" width="75" height="75" />
						</a>
					</div>
					<div id="main">
						<div id="top-row">
							<a id="user-name" ng-href="/u/{{session.owner.username}}" target="_self">{{session.owner.display}}</a>
							<div id="timestamp" ng-if="question.answer.created">{{question.answer.created | countdown}}</div>
							<a class="clickable" ng-if="state.owner && question.answer.created" ng-click="answer(question, ''); $event.stopPropagation()">
								<i class="fa fa-trash-o"></i>&nbsp;delete
							</a>
						</div>
						<br/>
						<div id="text" ng-bind-html="question.answer.response | linky: '_blank'| linesplit" ng-if="state.answering != question.id">
						</div>
						<textarea ng-if="state.owner" ng-show="state.answering == question.id" ng-model="state.answerdraft" focus-on-show ng-click="$event.stopPropagation()"></textarea>
						<div id="answer-btn" ng-if="state.owner" ng-show="state.answering == question.id" ng-click="answer(question, state.answerdraft); $event.stopPropagation()">Answer</div>
						<div id="cancel-btn" ng-click="state.drafts[question.id] = state.answerdraft;state.answering = false; $event.stopPropagation()" ng-if="state.owner" ng-show="state.answering == question.id">Cancel</div>
					</div>						
				</div>
				<div id="question" ng-if="tab == 'question'" ng-click="$event.stopPropagation()">
					<form id="main">
						<textarea ng-if="!state.user" disabled placeholder="Sign in to comment."></textarea>
						<textarea ng-if="state.user" placeholder="Comment on this question..." ng-model="state.comment" maxlength="500" focus-on-show></textarea>
						<span ng-if="state.comment">{{500 - state.comment.length}} characters left.</span>
						<div class="comment-btn" ng-if="commentTimer" disabled>Wait {{commentTimer | countdown:true}}</div>
						<div class="comment-btn" ng-if="!commentTimer" ng-disabled="!state.user" ng-click="postComment()">Post Comment</div>
						<div style="clear: both"></div>
					</form>
				</div>
				<div class="comment" ng-class="{'comment-from-owner': comment.owner}" ng-repeat="comment in comments" ng-click="$event.stopPropagation()">
					<div class="user-picture-left">
						<a ng-href="/u/{{comment.user.username}}" target="_self" ng-if="comment.user.image">
							<img class="circular" ng-src="{{comment.user.image}}" width="75" height="75" />
						</a>
					</div>
					<div id="main">
						<div id="top-row">
							<a id="user-name" ng-href="/u/{{comment.user.username}}" target="_self">{{comment.user.display}}</a>
							<div id="timestamp">{{comment.created | countdown}}</div>
						</div>
						<br/>
						<div id="text" ng-bind-html="comment.comment | linky: '_blank'| linesplit">
						</div>
					</div>
				</div>
			</div>
			<div id="load-more" ng-if="state.next != null" class="clickable" ng-click="loadMore()">
				Load more questions...
			</div>
		</div>
	</div>
</div>
