<div id="session-header">
	<div id="info">
		<div id="img-stats">
			<a id="img" href="#">
				<img src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="150" height="150" />
			</a>
			<div ng-switch="session.state">
				<div id="time-left" ng-switch-when="running">
					Ends {{session.end_time | countdown}}
				</div>
				<div id="time-left" ng-switch-when="before">
					Starts {{session.start_time | countdown}}
				</div>
				<div id="time-left" ng-switch-when="after">
					Ended {{session.end_time | countdown}}
				</div>
			</div>
			<div id="viewers" ng-show="session.state == 'running'">
				{{session.num_viewers}} currently viewing
			</div>
			<div id="views" ng-show="session.state != 'running'">
				<ng-pluralize count="session.views"
				when="{'0': '0 views',
				'one': '1 view',
				'other': '{} views'}">
				</ng-pluralize>
			</div>
			<a id="twitter-name" href="//twitter.com/">
				@willsmith
			</a>
		</div>
		<div id="title-desc">
			<h2>{{session.title}}<span id="live" ng-show="session.state == 'running'">[LIVE]</span></h2>
			<div id="desc" ng-bind-html-unsafe="session.desc | markdown"></div>
		</div>
	</div>
</div>
<div id="session-ask" ng-show="session.state != 'after'">
	<div id="ask-box">
		<h2>Ask Will Smith:</h2>
		<textarea ng-model="question"></textarea>
		<a id="ask-btn" class="clickable" ng-click="ask(question)">ASK!</a>
	</div>
</div>
<div id="questions-area">
	<div id="questions">
		<div id="filter">
			<div id="text">
				<a class="filter-options" ng-show="tab == 'question'" ng-href="/s/{{sessionId}}">Return to session </a>
				<span ng-show="tab != 'question'">
				<a class="filter-options" ng-class="{current: tab == 'unanswered'}" ng-href="/s/{{sessionId}}/unanswered"> Unanswered </a> | 
				<a class="filter-options" ng-class="{current: tab == 'answered'}" ng-href="/s/{{sessionId}}/answered"> Answered </a>|
				<a class="filter-options" ng-class="{current: tab == 'starred'}" ng-href="/s/{{sessionId}}/starred"> Starred</a></span>
			</div>
		</div>
		<!--
		<div id="no-questions">
			There is nothing here. Be the first to ask a question!
		</div>-->
		<div id="answered">
			<div id="pair" ng-repeat="question in session.questions | filter:qfilter | orderBy:'-score'">
				<div id="vote">
					<a class="clickable" ng-click="vote(question, 1)" ng-class="{upvote: question.vote == 1}">&#x25B2;</a><br/>
					<a class="clickable" ng-click="vote(question, -1)" ng-class="{downvote: question.vote == -1}">&#x25BC;</a>
				</div>
				<div id="question">
					<div id="user-picture">
						<a href="#">
							<img class="circular" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="75" height="75" />
						</a>
					</div>
					<div id="main">
						<div id="top-row">
							<a id="user-name"href="#">Justin Hundley</a>
							<div id="timestamp">{{question.created | countdown}}</div>
							<a class="clickable" ng-show="owner && session.state == 'running'">reply</a>
							<a class="clickable" ng-show="owner && question.starred" ng-click="star(question, false)">unstar</a>
							<a class="clickable" ng-show="owner && !question.starred" ng-click="star(question, true)">star</a>
							<a ng-href="/q/{{question.id}}">permalink</a>
							<div id="votes">
								<ng-pluralize count="question.score"
								when="{'0': '0 votes',
								'one': '1 vote',
								'other': '{} votes'}">
								</ng-pluralize>
							</div>
						</div>
						<br/>
						<div id="text" ng-bind-html-unsafe="question.question | markdown">
						</div>
					</div>
				</div>
				<div id="response" ng-show="question.answered">
					<div id="user-picture">
						<a href="#">
							<img class="circular" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" width="75" height="75" />
						</a>
					</div>
					<div id="main">
						<div id="top-row">
							<a id="user-name" href="#">Justin Hundley</a>
							<div id="timestamp">{{question.answer.created | countdown}}</div>
						</div>
						<br/>
						<div id="text">
							What am I supposed to put here?  A random piece of text that is supposd to resemble a question?  I'm not really sure.
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>
