.question{
	margin-bottom: 15px;
}

.question-box{
	background: #FFFFFF;
	padding-bottom: 15px;
}

.question-area{
	margin-left: 120px;
}

.question-options{
	float: left;
	padding: 10px 0 0 10px;
}

#ask-question{
	width: 80%;
}

.answer-area{
	text-align: center;
}

.answer-textarea{
	width: 80%;
	max-width: 90%;
	height: 100px;
}

.answer-confirm-btn{

}

.response-area{
	font-size: 15px;
	padding-left: 25px;
}

@media (min-width: 768px){
.ask-btn{
	margin-left: 10px;
	width: 65px;
}
.ask-btn-bottom{
	display: none;
}
}

@media (max-width: 767px){
.ask-btn{
	display: none;
}

.ask-btn-bottom{
	margin-left: -40%;
	left: 50%;
	position: fixed;
	bottom: 10px;
	display: block;
	width: 80%;
	padding-right: 0;
	padding-left: 0;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
         box-sizing: border-box;
}
}

