.question{
	margin-bottom: 15px;
}

.question-area{
	margin-left: 120px;
}

.question-options{
	float: left;
	padding: 10px 0 0 10px;
}

.answer-area{
	text-align: center;
}

.answer-textarea{
	width: 80%;
	max-width: 90%;
	height: 100px;
}

.answer-confirm-btn{

}