body{
	background-color: #F5FEFF;
}

.modal-body{
	max-height: 500px;
}

.affix{
	top: 50px;
}

#session-img{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}

#footer-info{
	margin-top: 25px;
}

.main{
	padding-top: 90px;
	padding-left: 10px;
}
.btn-left-border{
  -webkit-border-top-left-radius: 4px !important;
          border-top-left-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
          border-bottom-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
}

.tile-wrap{
	padding-bottom: 5px;
}

.session-tile-wrapper{
	position: relative;
	text-align: center;
	width: 227px;
	padding: 0px;
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	min-width: 225px;
	height: 217px;
	background: #A8AEC2;
}

@media (max-width: 480px) {
	.session-tile-wrapper{
		margin-left: 15px;
	}
}

.session-title{
	text-align: left;
	font-family: Helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 75px;
	padding: 10px;
	color: #000;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.session-title:hover{
	color: #fff;
}

.session-stats{
	width: 100%;
	position: absolute;
	bottom: 0;
	font-family: Helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	background: rgba(0,0,0,.5);
	color: #fff;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.session-stats:hover{
	background: rgba(0,0,0,.7);
}

.session-stats-text{
	padding: 10px;
}