/*GENERAL CLASSES/FIXES */
body{
	background-color: #F5FEFF;
}

h1, h2, h3, h4, h5, h6{
	color: #000;
}

input[type="file"]{
	margin-top: 5px;
	line-height: 10px;
}

.dropdown-menu{
	max-width: 200px;
	overflow: hidden;
}

.session-header{
	margin-top: 0px;
}

.page-alert{
	margin-top: 10px;
	margin-bottom: 15px;
}

.about{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	color: #666;
}

.search-field-wrapper{

}

.white{
	background: #FFFFFF;
}

.home-cell{
	margin-top: 20px;
}

.cell{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	color: #666;
}

.support-cell{
	margin-top: 20px;
	min-height: 132px;
}

.about-table{
	width: 300px;
}

#support-padding{
	padding-top:5px;
}

.max-size-image{
	max-width: 250px;
	max-height: 250px;
}

.support{
	position: fixed;
	width: 83px;
	height: 32px;
	bottom: 0px;
	right: 10%;
	float: right;
	background: rgba(0,0,0,.8);
	overflow: hidden;
	z-index: 1000;
	display: block;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
}

.or-seperator{
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#support-text{
	line-height: 32px;
	color: #ffffff;
	font-weight: bold;
}

.form-horizontal{
	margin-bottom: 0px;
	margin-top: 10px;
}

.navbar-form .input-append, .navbar-form .input-prepend{
	margin-top: 0px;
}

.modal-body{
	max-height: 500px;
}

.btn-title-inline{
	margin-top: 18px;
	margin-left: 25px;
}

@media (max-width: 320px){
.btn-title-inline{
	margin-bottom: 30px;
	margin-left: auto;
	display: inline-block;
}
}

.affix{
	top: 50px;
}

#session-img{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}

#session-create-image{
	max-width: 200px;
}

.qa-section{
	margin-top: 10px;
}

#footer-info{
	margin-top: 25px;
}

.main{
	padding-top: 90px;
}

.btn-left-border{
  -webkit-border-top-left-radius: 4px !important;
          border-top-left-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
          border-bottom-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
}

.tile-wrap{
	padding-bottom: 10px;
}

.session-tile-wrapper{
	position: relative;
	padding: 10px;
	margin-right: 15px;
	margin-top: 15px;
	float: left;
	height: auto;
	overflow: auto;
	background: #F5F5F5;
}

.tile-links{
	color: #666;
	text-decoration: none !important;
}

.session-img{
	padding-right: 10px;
}

@media (min-width: 400px){
	.session-img{
		float: left;
	}
}


.session-img > img{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#time-left{
	bottom: 5px;
}

@media (max-width: 480px) {
	.session-tile-wrapper{
		margin-left: 15px;
	}
}

#live-now{
	padding-left: 5px;
	color: green;
	font-weight: bold;
}

#session-title{
	padding-right: 5px;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}

.session-title-wrap{
	padding-top: 15px;
	margin-top: 10px;
}

.session-title{
	margin-right: 25px;
	text-align: left;
	font-family: Helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	color: #666;
}

#session-subtitle{
	font-weight: normal;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 25px;
}

.session-subtitle{
	font-size: 15px;
	font-weight: normal;
}

#owner-btns{
	padding-top:5px;
}

.session-viewers{
	position: absolute;
	top: 10px;
	right: 10px;
}

.requests-table{
	margin-top: 20px;
	width: 413px;
}

@media (max-width: 979px){
.requests-table{
	width: 100%;
}
}

.user-stats{
	padding-top: 10px;
}

#unansweredlist{
	font-weight:bold;
}