@media (max-width: 767px){
	.navbar-wrapper{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		margin-top: 20px;
	}
}
@media (min-width: 768px){
	.navbar-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		margin-top: 20px;
	}
}

#session-img{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}

#footer-info{
	margin-top: 25px;
}

#login-form{
	padding-top: 10px;
}

@media(max-width: 1199px){
	.user-field, .pass-field{
		display: none;
	}
}

.main{
	padding-top: 90px;
	padding-left: 10px;
}
.btn-left-border{
  -webkit-border-top-left-radius: 4px !important;
          border-top-left-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
          border-bottom-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
}

.navbar .brand{
	padding: 25px 25px 0px 15px;
}

.navbar .nav > li > a {
	font-family: "Roboto Slab", "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-weight: 800;
	font-size: 1.3em;
}

.brand{
	background: url('https://dl.dropboxusercontent.com/u/18936351/logo_ama2.png') no-repeat center;
	width: 150px;
	height: 36px;
}

.session-tile{
	width: 30%;
	padding-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
	min-width: 225px;
	background: #FFFFFF;
}

