{% extends 'base.html' %}

{%block title%}AMAs matching "{{query}}"{%endblock%}

{% block content %}
    <div id="search-results-container">
        <div id="search-results">
            <h2>AMAs matching "{{query}}"</h2>
    {% if query and page.object_list %}
        
                {%for session in page.object_list%}
                {%with session=session.object%}
                <div class="session-tile">
                    <img class="img150" src="http://www.biography.com/imported/images/Biography/Images/Profiles/S/Will-Smith-9542165-1-402.jpg" /><br/>
                    <div id="session-tile-info">
                        <strong>{{session.title}}</strong><br/>
                        {% if session.state == 'running'%}
                        {{session.num_viewers}} in AMA session{%else%}
                        {{session.num_views}} views{%endif%}<br/>
                        <a id="join-button" href="{{session.get_absolute_url}}">Join AMA</a>
                    </div>
                </div>  
                {%endwith%}
                {%endfor%}
            
    {% else %}
        Sorry, no results found.  Check out the sessions below or make a request.
    {% endif %}
        </div>
    </div>
    <div id="home-live">
        <h2>LIVE AMAs</h2>
        {% if not live_sessions.all %}
        <div class="empty-content">
            There are currently no live AMA sessions.
        </div>
        {% endif %}
        {% include "session_list.html" with sessions=live_sessions %}
        <a class="link-all" href="/live">
            View all AMAs
        </a>
    </div>
{% endblock %}
