{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="thumbnail white cell span7">
            <h2>Search</h2>
            <form method="get" action=".">
                <table width="90%">
                    <tbody>
                        <tr>
                            <td>
                                <input id="id_q" name="q" type="text" placeholder="AMA titles, Name, Descriptions" style="width: 90%" />
                            </td>
                            <td valign="top">
                                <input class="btn" type="submit" value="Search" />
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
        {% if query %}
            <h3>Results</h3>
            {% for result in page.object_list %}
                {%include "session_tile.html" with session=result.object%}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
