<div class="question row-fluid" data-question="{{question.id}}" id="question-{{question.id}}">
	<div class="thumbnail white">
		<div class="row-fluid">
			<div style="vertical-align:middle;" class="btn-group-vertical question-options">
				{{#isowner}}
				<a href="#" class="btn answer-button" {{^running}}disabled{{/running}}><i class="icon-ok"></i> Answer</a>
				<div disabled id="score-{{question.id}}" class="btn" >{{question.score}}</div>
				<a href="#" class="delete btn" data-question="{{question.id}}"><i class="icon-trash"></i> delete</a>
				{{/isowner}}
				{{^isowner}}
				<a href="#" id="upvote-{{question.id}}" data-question="{{question.id}}" class="btn upvote {%if question.vote == 1%}btn-success{%endif%}"><i class="icon-thumbs-up"></i></a>
				<div disabled id="score-{{question.id}}" class="btn" >{{question.score}}</div>
				<a href="#" id="downvote-{{question.id}}" data-question="{{question.id}}" class="btn downvote {%if question.vote == -1%}btn-danger{%endif%}"><i class="icon-thumbs-down"></i></a>
				{{/isowner}}
				
			</div>
			{{#isowner}}
			<a href="#" id="star-{{question.id}}" class="star btn {{#question.starred}} btn-info{{/question.starred}}" data-question="{{question.id}}"><i class="icon-star"></i> Star</a>
			{{/isowner}}
			<a class="btn permalink" href="/q/{{question.id}}" >Link</a>
			<div class="{{#isowner}}question-area110{{/isowner}}{{^isowner}}question-area60{{/isowner}}">
				<h4>{{question.question}}</h4>
				<p>{{{question.desc_html}}}
				</p>
				<small>&mdash;Asked by {{question.asker.display}}</small>
			</div>
		</div>
		{{#isowner}}
		<div class="answer-area" id="answer-form-{{question.id}}" style="display: none">
			<hr/>
			<div class="row-fluid">
				<form>
						<textarea class="answer-textarea" id="answer-textarea-{{question.id}}" type="text">{{question.answer.response}}</textarea><br/>
						<button class="btn answer-confirm-btn btn-primary" onclick="answer({{question.id}})" type="button">Confirm</button>
						<button class="btn answer-confirm-btn btn-default" onclick="answer({{question.id}})" type="button">Close</button>
				</form>
			</div>
		</div>
		{{/isowner}}
		<div id="answer-{{question.id}}" {{^question.answer}}style="display: none"{{/question.answer}}>
			<hr/>
			<div class="row-fluid">
				<div class="response-area">
					<b>Response:&nbsp;&nbsp;&nbsp;&nbsp;</b><div id="answer-text-{{question.id}}">
					{{{question.answer.response_html}}}
					
					</div>
				</div>
			</div>
		</div>
		<div id="comment-show">
			<a href="#" class="show-comments" data-question="{{question.id}}">
	      		Show comments
	      	</a>
      	</div>
      	<div class="comment-wrapper" id="comment-wrapper-{{question.id}}" style="display: none">
      		{{#isauthenticated}}
      		<div class="comment-form-wrapper">
	      		<textarea class="comment-form" id="comment-form-{{question.id}}"></textarea>
	      		<div class="btn add-comment" id="comment-submit-{{question.id}}">
	      			Add Comment
	      		</div>
      		</div>
      		{{/isauthenticated}}
      		<div id="comments-{{question.id}}">
		
			</div>
			<div class="no-comments" id="nocomments-{{question.id}}" style="display: none">
				There are no comments. Be the first!
			</div>
			<div class="btn view-more" style="display: none">
      			View more...
      		</div>
		</div>
	</div>
</div>
